[2016-09-03 15:18] ASAAR opened #1 "Feature: Create a git-compatible logger"
This logger should automatically run along with our models and record the score that they are getting, so we have a record of our scores and if we somehow make a mistake down the road, we can revert back to a version with high scores.

It should include the following data,
- model (maybe given via string input)
- score
- date
- time
- user

CLI Arguments:
- Model (using a predefined XML or JSON fo

[2016-09-03 15:26] ASAAR opened #2 "Feature: Ensemble builder"
It would be useful to have a python script that gathers up all models in a folder and uses them to build an ensemble. This should be possible by taking the results of the training data from the "raw" models and using that as training data for the ensemble. But it will require some infrastructure to make this as robust as possible.

[2016-09-03 16:05] ASAAR opened #3 "Feature: Toolbox->CSV Splitter"
If you look at the files, they are all pretty big, too big for easily tinkering with. We need a csv splitter that not only keeps the headers for each new csv, but also randomly selects rows to put in the new csv files (and doesn't select duplicate rows). This will make it easier to validate our code on faster running subsections of the training data rather than the complete ~6 GB of data.

[2016-09-03 16:17] ASAAR commented on #3
I'd suggest using something like this, except with random distribution of rows among the different files.

https://gist.github.com/jrivero/1085501

[2016-09-05 02:05] ASAAR commented on #3
This feature is in progress, it works for now (in case people want to examine the detail without crashing their computer).

TODO:
- The current code doesn't randomize the data that is included in each file. That might not be necessary. So we'll wait to implement that until it becomes a problem.

[2016-09-05 02:12] ASAAR opened #4 "Feature: Cross-file feature selector"
We have the problem of having almost 7 GB of training data across 3 files (with 4000+ independent variables), we need a script that will allow us to select the most important features across those files without putting everything into memory at once.

Possibly worth reading,
- http://www.cs.colostate.edu/pubserv/pubs/Bins-draper-publications-bins_iccv01.pdf

[2016-09-05 02:19] ASAAR opened #5 "Feature: Basic online learning algorithm"
The link below lists some possible online learning algorithms, someone should implement a few of these and test their results.

http://scikit-learn.org/stable/modules/scaling_strategies.html

[2016-09-06 14:57] ASAAR commented on #3
This is a simple tool to help view the data sets. Ryan is working on a more fully featured script that will be used for "production".

[2016-09-06 14:57] #3 closed

[2016-09-06 14:58] ASAAR opened #6 "Feature: Cross-file training/validation set selector"
We have multiple files with the training data, so we need to have a script (R or Python) that selects our training/validation sets from across these files.

[2016-09-06 15:25] ASAAR commented on #6
https://www.kaggle.com/c/bosch-production-line-performance/forums/t/22909/expeditive-exploration-models-on-data

[2016-09-10 17:16] ASAAR opened #7 "Feature: Baselines (including data) for validating ML algorithms"
We need a data set that people have explored and already have results for so that we can validate our results against it.

Requirements
- Data set which we have results for already. So we know what to expect for it and can test our results against it.
- A basic testing file which demonstrates what these tests might look like.

[2016-09-10 17:44] RyanMcBerg commented on #6
We also discussed a tool to merge files based on a variable, and a way to save data to a smaller filetype, as well as .CSV.  I will be researching to see if python has a binary type that is easily usable, and attempt to provide options based on the users preference.

[2016-09-10 17:56] asclines opened #8 "Detail: Create data folder"
So the data files are going to be large. Too large to have in the repo. But the data still needs to be stored in the same relative file path on every users computer so the code can find the files. So a data folder needs to be created, put on the repo, then the gitignore needs to be setup to not track any files placed in that folder afterwards.

[2016-09-10 18:02] Zak7062 commented on #7
[This](http://archive.ics.uci.edu/ml/datasets/Wine+Quality)wine data set looks like it might be useful to validate our results against.

[2016-09-10 18:06] asclines commented on #1
As for language: I believe bash is the best option.
We have already determined that a requirement for this project is that it be run on a Unix/Linux environment. In addition, bash will be make handling calling CLI commands such as `git` a breeze.
It is also portable and light and every Unix/Linux system will be able to run it.

[2016-09-10 18:18] asclines commented on #1
Output Formation Options:
- XML
- JSON

Any other ideas?

[2016-09-10 18:27] Zak7062 opened #9 "Detail: Create a list of setup instructions (iteration one)"
We want to have a list of setup instructions for Bash for users who don't already have it set up

[2016-09-10 18:39] #8 closed

[2016-09-13 15:00] ASAAR commented on #9
@asclines @Zak7062 @RyanMcBerg @telelu03 Can anyone think of anything else we need for now? I'll add more over time.

[2016-09-13 15:12] ASAAR opened #13 "Getting more done in GitHub with ZenHub"
Hola! @ASAAR has created a [ZenHub](http://www.zenhub.com) account for the **ASAAR** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboarding)

[2016-09-19 16:20] #13 closed

[2016-09-19 21:12] RyanMcBerg commented on #9
@ASAAR Since my "Demo" uses R we should maybe have some R setup instructions?

[2016-09-19 21:15] RyanMcBerg opened #20 "Splitter in R as opposed to Python"
I wrote the splitter in python, but there are tools in R that would likely make this more efficient that I know of in R.  I may rewrite this as an rscript, and we can compare to see which is faster?

[2016-09-20 00:37] Zak7062 commented on #20
That sounds like a good idea to me; how long does the splitter take to run as is? Is time a large concern for it?

[2016-09-20 01:27] RyanMcBerg commented on #20
I can be with larger datasets.. it seems like Python treats datasets as lists, and randomizing large lists could take a long time, unless there is something i'm missing.

[2016-09-20 01:34] Zak7062 commented on #20
Can't hurt then.

[2016-09-20 01:39] RyanMcBerg commented on #20
My plan is to implement it again at the beginning of Sprint 2 to replace the current Splitter.py. If anyone has any objections feel free to voice them

[2016-09-20 02:24] asclines opened #21 "Logging datasets"
The logger module should have a way to log information about the chosen dataset.
This story is still in the early stages of planning.

To-Do:
- Plan out what about the dataset needs to be logged

[2016-09-20 02:42] #1 closed

[2016-09-20 03:05] #6 closed

[2016-09-20 03:05] #5 closed

[2016-09-20 04:20] ASAAR opened #26 "Cleanup after Alex's Review of my code"
I need to fix some stuff but wanted everything to be merged. So it'll be done in the next few days.

[2016-09-20 04:21] #7 closed

[2016-09-20 04:21] #9 closed

[2016-09-24 17:06] RyanMcBerg opened #28 "Create a module in R to merge datasets"
Some of the data will come in multiple datasets, if we want to run the dataset as a whole we will need a merge function to combine these datasets.  I feel like R has some tools that will make this easier.

[2016-09-24 17:13] telelu03 opened #29 "Convert Categorical to Numeric"
Target a column, and convert Categorical values into numerical values. (Ex. Male & female to 1, 2)

[2016-09-24 17:13] #26 closed

[2016-09-24 17:14] telelu03 opened #30 "Proportion of missing data."
Given a column and ap. Proportion by the user, return a boolean indicating whether or not the column has that proportion of missing values.

[2016-09-24 17:14] Zak7062 opened #31 "Implement Classification Models"
Implement categorical models for later testing against known data set.

[2016-09-24 17:19] ASAAR opened #32 "Launcher: Training select ML type"
When you launch this tool against a dataset you want to be able to either specify the type of prediction it will be doing (classification vs regression) or have it figure that out automatically.

[2016-09-24 17:25] asclines opened #33 "Epic: Analyzer"
# Analyzer
## Definitions

- **Test**: A way of determining if an algorithm works. (As opposed to testing the actual code, etc..)
- **Model**: Definition of a test, includes variables that are modifiable in an algorithm and their values

## Epic
Provide options for the user to store, track and analyze results from testing of algorithms.

## Stories

1.  As a user, I want to be able to configure my

[2016-09-24 17:26] asclines commented on #33
@ASAAR @RyanMcBerg can you guys think of anything else this might need?

[2016-09-24 17:28] ASAAR opened #34 "Launcher: Check results against training data"
We want to be able to run a suite of algorithms against training data that has been split into training and validation sets, then we want to be able to see the potential results we will get. This task comprises that whole pipeline.

[2016-09-24 17:42] telelu03 opened #35 "Explore Image Processing/ML in Scikit"
Explore algorithms that deal with Image Processing in SciKit.

Write a script to be able to take in images, and output a classification of the image.

Explore options with Image Processing in Azure ML

[2016-09-24 17:43] asclines opened #36 "Analyzer-FirebaseSetup: Plan out Firebase structure"
Things that need to be planned out and researched:
- How should data be stored in the database
- Define the structure of a model. (For definition of model see #33 )

## Model
- Ensemble: When this type is selected, the analyzer should expect embedded models for the algorithms used to create ensemble.

### Information a model should contain
- Timestamp
- Author
- Model type(i.e. NeuralNet, Decision

[2016-09-24 17:44] ASAAR commented on #35
Because of the amount of learning you'll need to do for this. I'd actually call it an 8 @telelu03

[2016-09-24 17:53] Zak7062 opened #37 "Test Classification Models"
Run categorical models against known dataset

[2016-09-24 18:00] asclines opened #38 "Analyzer-FirebaseSetup: Create config setup for Firebase"
A CLI program for initializing the Firebase setup.
Handles things like:
- Getting the Firebase database info from the user, such as authentication
- ~~Getting user defined model types~~ (This needs to be it's own thing the future.)
- Getting author name
- Creating the structure for the analyzer in the Firebase database

[2016-09-24 18:07] asclines opened #39 "Analyzer-FirebaseUpload: Validate models and prep for upload"
Before the data is uploaded to the Firebase database, the input from the user/test needs to be validated and any issues need to be logged/returned the user.

Also, final prep needs to be dealt with such as:
- Adding timestamp
- Add author name

[2016-09-24 18:09] asclines opened #40 "Analyzer-FirebaseUpload: Upload data to Firebase"
Upload validated & finalized model to the Firebase database.

Things to keep in mind:
- Network issues
- Auth issues
- Misc issues

[2016-09-24 19:13] Zak7062 commented on #31
Classification Based Dataset can be found here: https://archive.ics.uci.edu/ml/datasets/Census-Income+(KDD)
It's based on the 1994 and 1995 Current Population Surveys conducted by the US Census Bureau and has 40 features and missing data.

[2016-09-26 16:03] telelu03 commented on #35
Just changed the estimate.

[2016-09-26 16:54] Zak7062 commented on #29
Are we sticking to 5 points on this and the Proportion of missing data?

[2016-09-26 19:13] ASAAR commented on #32
I need to write tests still

[2016-09-26 19:14] ASAAR commented on #34
I need to write tests still

[2016-09-26 19:29] ASAAR opened #44 "Bug: Currently scaling factors, not just numerics"
When I run the following code, I don't discriminate between factors and numerics. It'll be a problem if the factors are being scaled as well.

`x = preprocessing.scale(x)`

I need to research this and fix the issue

[2016-09-26 19:30] ASAAR opened #45 "Pipeline: Run against test data"
We need our pipeline to also be able to run against test data.

[2016-09-26 19:31] ASAAR opened #46 "Feature: Hyperparameter selection"
We need to automatically select hyperparameters in a systematic way for each of our algorithms. This needs research and implementation.

[2016-09-26 19:32] ASAAR commented on #37
@Zak7062 is this done?

[2016-09-26 20:37] Zak7062 commented on #37
It's done as of my last commit, if you want to consider the changes you recommended as refactoring.

[2016-09-26 23:41] #37 closed

[2016-09-26 23:42] #31 closed

[2016-09-27 14:21] ASAAR opened #47 "Issue: Need to change pipeline to allow for selecting target column for prediction"
I currently select the last column, this is not smart. I need to change that.

[2016-09-27 17:02] ASAAR commented on #21
@asclines there isn't an estimate on this task

[2016-09-27 17:03] #32 closed

[2016-09-27 17:03] #34 closed

[2016-09-27 18:34] #47 closed

[2016-09-27 21:20] #44 closed

[2016-09-27 21:23] ASAAR commented on #45
This will include,
- Making sure a good system is in place to pass trained models to application stages without needing to have separate systems in place for train vs test mode.
- Modifying the launcher to include "test mode" code.
- Figuring out a way to standardize the method of applying trained models to test data and getting results (we don't want a different system per model).
- Maybe other s

[2016-09-27 21:31] ASAAR opened #49 "Launcher: Settings and Saved Options"
We need a module that controls settings and saved options. Such as target training and test files so that the user doesn't need to type them in over and over again. Or a saved location for each.

Needs,
- Saved names of files or locations for training and test files.
- Type of prediction being used
- Type of separator used in the data files
- Easy to add more options

[2016-09-28 00:18] ZakeryFyke opened #50 "Automated Dimensionality Reduction of a Dataset"
It would be useful to have an automated process which removes features which either are not predictive or are predictive in the same fashion as another feature.

[2016-09-28 00:32] Zak7062 commented on #50
@ASAAR Do you think this is a good estimate for this issue? I haven't read into it too much yet, so as of yet it's just a guess.

[2016-09-29 15:26] ASAAR opened #51 "Design Issue: machine learning runners doing too much"
I need to split out the data splitting and scoring code so that the runners aren't doing too much. This will impact most files in the project (tests, runners, and framework)

[2016-09-29 15:35] #51 closed

[2016-09-30 01:50] asclines commented on #21
I estimate this issue to be irrelevant now.

[2016-09-30 01:50] #21 closed

[2016-09-30 01:50] asclines commented on #21
But for reals, #38 Will handle this indirectly.

[2016-10-01 02:33] ASAAR commented on #46
Adding points to it because I want to come up with a system that doesn't resort to hard coding values and is easy to add new algorithms to.

[2016-10-01 18:18] RyanMcBerg commented on #29
This is done in the splitter, when reading in the dataset. This task should be complete.

[2016-10-01 19:11] #29 closed

[2016-10-02 01:26] asclines opened #55 "Analyzer-FirebaseUpload: Create Python API"
Create an API wrapper for `mlta-record` in Python

[2016-10-02 01:26] asclines opened #56 "Analyzer-FirebaseUpload: Create R API"
Create an API wrapper for `mlta-record` in R

[2016-10-03 17:59] ASAAR opened #57 "Image classification: Example"
Setup and run these two examples, for the second you'll need to download tensorflow. If you want to, you can make an examples folder at the top level of the project for this content. @telelu03

Example 1: http://scikit-learn.org/stable/auto_examples/classification/plot_digits_classification.html
Example 2: https://www.tensorflow.org/versions/r0.11/tutorials/mnist/beginners/index.html#mnist-for-ml-

[2016-10-03 20:30] #28 closed

[2016-10-04 13:38] #20 closed

[2016-10-05 00:00] ASAAR opened #59 "Bug: Models not being saved"
I'm trying to use pickle to save models and it's entirely ineffective. It should work, because scikit suggests it. Some other people have had the same issue.

[2016-10-05 00:17] ASAAR commented on #59
I might need to change the way all of this works, if I can't pass models back through return statements, we have a problem

[2016-10-05 02:48] asclines commented on #59
Why can't you pass models back through return statements?

[2016-10-05 03:07] ASAAR commented on #59
@asclines because when I try to run them, it claims they haven't been trained (fitted)

[2016-10-05 15:03] ASAAR commented on #59
Looks like I have to rebuild a lot of stuff to avoid this issue. I'm also running into the following bug (in the process).
![bug](https://cloud.githubusercontent.com/assets/1311843/19118716/f020b642-8ae2-11e6-8797-02defc31e7d6.PNG)

[2016-10-08 19:51] ZakeryFyke commented on #30
@RyanMcBerg is this done?

[2016-10-08 20:22] #50 closed

[2016-10-09 16:19] ASAAR opened #63 "Fixing Tests: Integrating Splitter"
We're trying to integrate Ryan's splitter with the rest of the project and replace the older splitting functionality with it. Currently running into issues with the R code running properly (it is likely failing out).

[2016-10-09 16:35] ASAAR opened #64 "Code Cleanup: Reducers"
Code Climate suggests cleaning up these two sets of duplications.

![issue01](https://cloud.githubusercontent.com/assets/1311843/19222001/4b1fe3d6-8e14-11e6-9eb1-2021a7e1c6ec.PNG)
![issue02](https://cloud.githubusercontent.com/assets/1311843/19222000/4b1bc45e-8e14-11e6-9015-a4cfee5c4a99.PNG)

[2016-10-09 18:50] #64 closed

[2016-10-09 20:31] ASAAR opened #66 "Splitter: Flexible separator"
It would be good if we can have the separator able to handle csv files that are formatted with either a "," or ";".

Similar python code
`pd.read_csv(path + filename, sep=separator)`

[2016-10-10 00:00] ASAAR commented on #30
@RyanMcBerg bump

[2016-10-10 13:55] asclines opened #68 "Analyzer-FirebaseUpload: Remove Firebase mock server from testing"
Currently, `test-firebase-config` uses a module called [firebase-server](https://github.com/urish/firebase-server). However, this module has been causing me more headaches than @RyanMcBerg's _commit_ment issues and the documentation for it has misled me more than Appple Maps. Therefore something needs to change.

Until firebase-server updates to work with Firebase 3.0 or another firebase mock serv

[2016-10-10 15:07] #36 closed

[2016-10-10 15:07] #38 closed

[2016-10-10 15:07] #39 closed

[2016-10-10 15:07] #40 closed

[2016-10-10 15:10] RyanMcBerg commented on #30
Um. No. Is this assigned to me?

[2016-10-10 15:11] RyanMcBerg commented on #30
Ah. I see that it is. I will take care of it.

[2016-10-10 19:09] RyanMcBerg commented on #30
Decided to close the issue for this iteration since we have the dimensionality reduction in place, and want to focus on getting the tests to work as well as other functionality.

[2016-10-10 19:09] #30 closed

[2016-10-10 22:24] #59 closed

[2016-10-10 22:24] #63 closed

[2016-10-10 22:31] asclines opened #69 "Analyzer-FirebaseSetup: Add a way to modify saved configuration"
Currently, users can create configurations but there is no way to modify them after creation.

[2016-10-10 22:32] asclines opened #70 "Analyzer-FirebaseSetup: View saved configurations"
MLTA should provide a way to view and select saved configurations

[2016-10-10 22:32] asclines opened #71 "Analyzer-FirebaseSetup: Delete saved configuration"
Provide a way for the user to be able to delete a saved configuration

[2016-10-17 20:26] asclines commented on #56
Removed milestone, not sure if this needs to be done. At least not in the near future.

[2016-10-17 20:50] #35 closed

[2016-10-17 21:13] #55 closed

[2016-10-19 23:14] ZakeryFyke commented on #57
@ASAAR @telelu03 is this something we'd like to move to iteration 3?

[2016-10-20 04:01] asclines opened #81 "Documentation & Organization"
# Documentation
According to [Wikipedia](https://en.wikipedia.org/wiki/Software_documentation) there are several types of software documentation, a few of which I have reposted below:
1. **Requirements** – Statements that identify attributes, capabilities, characteristics, or qualities of a system. This is the foundation for what will be or has been implemented.
2. **Architecture/Design** – Overvi

[2016-10-20 04:05] ASAAR commented on #81
I totally agree and just want to add a thing or two.

I'd like to add to this. I think that part of our documentation for the modules section should include explanation of what each subsystem does and what should go in there. That way adding stuff to the project is more clear.

I just want to add that a lot of this is my fault, not only should I have been more careful in designing what goes into m

[2016-10-20 04:12] RyanMcBerg commented on #81
Thank you for this!  This is what ive needed I believe. It's been a frustrating few days.

[2016-10-20 13:12] RyanMcBerg commented on #81
@asclines First off, why are there 12 branches for a team of 5? Are there any of them that can be closed?

In regards to this, I have set up a few branches which are just serving as my templates for the next iteration.  Once the other ones have been merged (*crosses fingers it will be soon) my branches can be removed.

[2016-10-20 14:16] #66 closed

[2016-10-20 20:51] telelu03 commented on #57
Yeah @ASAAR we can continue parts of this. I want to actually split it up into an Issue with Image Processing and an Issue with applying Image Classification algorithms.

[2016-10-23 19:32] ZakeryFyke opened #84 "Improved tests for dimensionality reducers"
Currently the component analyzer and feature selection tests just check to see if the dimensions of the resulting data set are smaller than the original dimensions. This isn't particularly good, so I want to write some better testing. I'll need to find a good way of testing the two, which might take some additional time.

[2016-10-23 19:35] ASAAR opened #85 "Configuration Options Single Instance Class"
We need a python class which mocks a configuration options module. It should request the following options and give functions to retrieve those configurations.

Options,
- Training file name (including extension)
- Test file name (including extension)
- Separator for file
- Prediction type
- Target column, or column that should be predicted

[2016-10-23 19:38] ASAAR opened #86 "DataProvider Single Instance Class"
This singleton when initially called should create itself and setup the training and test data. It should have functions that allow the requesting of data by other parts of the system.

[2016-10-23 19:57] ASAAR opened #87 "AlgorithmProvider Single Instance Class"
The singleton will request all of the algorithms that are applicable to the project based on configuration options. So when analyzing images, only the algorithms useful for images will be provided. When first called, it should get a list of all algorithms and functions to return them.

[2016-10-23 20:07] ASAAR opened #88 "Folder Restructure"
We need to create new folders to fit our redesign of the project. Start adding the new files into these folders.

Folders within modules,
- SupplyCloset
- DataSupplier
- ModelCoach
- Gym

[2016-10-23 23:44] asclines opened #89 "MLTA Code Climate Results"
According to [CodeClimate](https://codeclimate.com/github/ASAAR/SE2-KaggleComp/issues) we aren't up to "code". Fix it.

[2016-10-24 01:13] asclines opened #90 "CodeClimate configuration file missing"
In order to customize how CodeClimate checks the code we need a `.codeclimate.yml` file somewhere. Not sure how this all works so I'm passing it on to our in-house CodeClimate expert @ASAAR .

### Steps to reproduce issue
For any issue on [CodeClimate ](https://codeclimate.com/github/ASAAR/SE2-KaggleComp/issues) select **Disable Checks** > **Ignore this issue**

[2016-10-24 13:15] RyanMcBerg opened #93 "Rpart module"
This module will send train a dataset using the recursive partitioning algorithm in R, and test the model agains a training dataset.

[2016-10-24 13:16] RyanMcBerg opened #94 "C50 Module"
This module will train a dataset against the c50 algorithm and R and test it against a testing dataset.

[2016-10-24 15:03] #89 closed

[2016-10-24 15:33] #88 closed

[2016-10-24 21:11] ASAAR commented on #90
In order for this to work, it seems like you need to use Docker because their CLI tool is deployed using it. Bash on Ubuntu on Windows isn't recognizing Docker

[2016-10-24 21:52] #90 closed

[2016-10-25 18:29] asclines commented on #68
Update: After looking into this more, in order to test the firebase-config-manager without a mock server would still require mocking a lot of methods in the firebase module provided by firebase. With that,  and given the fact that it appears that firebase-server has acknowledged the issues and is working on it, it may be better to wait for firebase-server to update instead of rolling out our own m

[2016-10-25 18:30] asclines commented on #68
That being said, it might be worth it to roll out a mock firebase testing module that doesnt act as a mock server but simply mocks the methods.

[2016-10-26 14:59] ASAAR commented on #68
@asclines how long before there's an update to firebase-server? Also, could we just test the capability of the system to send something to firebase and get it back? We might be able to save time here

[2016-10-26 17:19] asclines commented on #68
@ASAAR Who knows.
Yes we could test the capability of the system by sending and retrieving stuff with our firebase, but I don't want to:
  a) Have to rely on an internet connection and that server for testing
  b) Clutter our firebase data with test junk anymore

As of now, we are fine as the code has been manually tested and seems to be mock-tested enough to be good. As long as there are no more

[2016-10-26 19:50] ZakeryFyke commented on #85
@ASAAR Are we still intending this to be designed as a singleton class?

[2016-10-26 20:40] asclines commented on #85
@ZakeryFyke No, there should be no singletons in this project.

[2016-10-26 20:42] ZakeryFyke commented on #85
Good, gooood.

[2016-10-26 20:49] asclines commented on #85
That being said, this issue should be updated to reflect our recent decision to ban singletons.

[2016-10-27 15:38] ASAAR commented on #85
Nope, we'll just use it as single instance.

________________________________
From: Zakery Fyke <notifications@github.com>
Sent: Wednesday, October 26, 2016 2:50:09 PM
To: ASAAR/SE2-KaggleComp
Cc: Griswold-Steiner, Isaac; Mention
Subject: Re: [ASAAR/SE2-KaggleComp] Configuration Options Single Instance Class (#85)

@ASAAR<https://github.com/ASAAR> Are we still intending this to be designed as a si

[2016-10-27 18:43] ASAAR opened #98 "Separation of Responsibilities for Data Prep"
Hey everyone, so for the most part we've decided that data cleaning and prep tasks should go in the DMZ for each worker to use. However there is one more issue that I'd like to talk about.

What about basic cleaning and splitting of the data for training? Did we cover this? On the one hand, we don't want to repeat work. On the other, we don't want to take too much away from worker flexibility.

Ex

[2016-10-27 18:45] ASAAR commented on #94
@RyanMcBerg do we have an estimate for this?

[2016-10-27 18:46] ASAAR commented on #93
@RyanMcBerg estimate?

[2016-10-27 20:06] asclines commented on #98
I think the hub should have initial data modifications as there might be some preprocessing that needs to be done. In addition to what @ASAAR has mentioned, another thing the hub could handle is defaults for empty data

[2016-10-27 21:13] ASAAR commented on #98
Yeah, I can agree with that. We'll just need to remain careful. Do we also want to split the data on the Hub or no? It would mean that every model is getting the same split. I don't know if that's a good or bad thing but we could always change it latter.

[2016-10-27 23:31] asclines commented on #98
@RyanMcBerg thoughts? whenever i see data splitting I think of you.

[2016-10-28 14:13] asclines opened #103 "Getting input from user"
# Scenario

Just to make sure everybody is on the same page, here is how I'm imagining the program working from the user's perspective.
### While there are a many modules & files in this project, as a user, I expect there to be a single point of entry where I can go and take care of everything.
# Problem

As of now, the way we get input is through user input on command line. Personally I do not th

[2016-10-28 14:33] ZakeryFyke commented on #103
I don't have too much to comment as far as naming conventions go, however I definitely like the idea of using a file over constantly getting input from the command line since it's so cumbersome.

[2016-10-28 15:07] ASAAR commented on #103
Yeah, I absolutely agree with this idea. I just wanted to have Zak work on something which we could use immediately, rather than two weeks from now (since that would act as a road block for other work).

So yeah, I really like this idea.

[2016-10-28 15:12] asclines commented on #103
@ZakeryFyke @ASAAR, I agree that this shouldn't immediately replace the user input as handled by #102 , I'm just getting the discussion rolling on the next stage of user input retrieval as this project grows. Clearly this idea isn't fully worked out and will take time to create. Thats why I am asking you guys for input on Moving Forward.

[2016-10-28 19:03] ZakeryFyke commented on #103
To be certain I understand, we would have an XML file that the user could edit in order to change their desired settings such that they don't have to interact constantly with the command line?
Is XML the easiest way for the user to specify these settings? I don't have an alternative in mind, just curious.

[2016-10-28 19:14] ASAAR commented on #103
I'd also suggest having some code that runs and forces the user to provide input if none has been given yet.  That way we guarantee that we have configurations to use.

[2016-10-29 00:50] ASAAR opened #104 "Ticket Contents and Design"
# Overview

So we know that in the long-term, we'll want a "ticket" that can be passed between the Hub and a Worker which contains all of the information needed for training and testing. The question is, what goes into this exactly and how do we handle it? I'll give a brief overview of my current direction and issues we need to handle.
# Key Questions
- Do we want a ticket to also contain "null" o

[2016-10-29 01:01] ZakeryFyke commented on #104
Regarding your first question, what all would we want to send back to the hub? Just what is listed under dependent on key question 1?
If we create a second object for the return trip to the Hub, would we still be able to make the multiple passes/tweaks that your second question suggests?

[2016-10-29 01:52] ASAAR commented on #104
@ZakeryFyke It isn't an exhaustive list. I guess I'm looking for ideas on what could be added to it.

Also, yes we could. Because it would do iterations and then send the results in chunks. Maybe?

[2016-10-29 15:40] asclines commented on #104
I think it would be a good idea to have one ticket that gets modified on the way. Sort of like a record or current state of whats going on. That way we never have to worry about having old data (such as previous hyper parameters) and we can easily save the data for future use as its in one spot.

[2016-10-29 15:40] asclines commented on #104
Also, @ASAAR can you clarify what you mean by a worker making multiple passes?

[2016-10-29 15:44] asclines commented on #103
@ZakeryFyke Yes you are correct in how it will be used.
As for whether or not XML is the easiest way; IMHO I believe it to be the best way to meet all our requirements while not making it _too_ difficult for the user. That being said, there could be other ways that haven't come to mind and if you find any, now is the time to speak up.

[2016-10-29 15:57] ASAAR commented on #104
@asclines Sounds good! My only concern with regard to using function name is the MLTA integration. If we save that model as the function name, then we could have situations where results for a model are disconnected from prior results due to a name change.

A worker making multiple passes is like a worker training and testing multiple times with the same model but multiple hyper-parameters or data

[2016-10-29 16:03] asclines commented on #104
@ASAAR Well maybe we don't use function names but abstract out a layer and just have labels that are user defined? Or give each function a UID that never changes? <- This one I don't like as much

But on another note, how likely is there to be a situation where the name gets changed but nothing else? What I'm getting at is, maybe we don't want the results to be connected..

And yes, the worker sho

[2016-10-29 18:26] ASAAR commented on #104
@asclines Yeah, I agree that the situation is unlikely to matter. I just wanted to bring it up so that we aren't blindsided later. I think for now we can stick with our current system. If necessary later, we can add something to model_properties.py (or something like that) which acts as a uniqueID for MLTA.

Sounds good, I'll add that to the list.

[2016-10-30 15:18] ASAAR commented on #85
@ZakeryFyke @asclines Is this closed?

[2016-10-30 15:23] ASAAR commented on #81
@asclines @RyanMcBerg @telelu03 @ZakeryFyke Are there more action items we need to cover for this?

The ones I can think of,
- Documentation for DMZ/models/
- Cleanup toolbox further, split useful code off into DMZ or specific areas.
- More detailed documentation for DMZ? I cover the functionality but don't give examples.

I just want us to keep working on this.

[2016-10-30 16:05] ZakeryFyke commented on #85
@ASAAR I had moved it to Review/QA until our product owner has marked it as done.

[2016-10-30 16:30] ZakeryFyke opened #106 "Filling in missing data"
Many datasets have features which do not have all of their values, leading to missing data. Many models have trouble dealing with missing data, so we need a way to fill in these missing values.

Some techniques include filling in data with an average value of the feature or replacing it with a value which is such an outlier that models like KNN will not consider it.

[2016-10-30 16:31] ASAAR commented on #106
We can use the name data_filler.py

[2016-10-30 18:47] asclines commented on #98
Proposed data prep responsibilities: (From 10/30 meeting)

Hub:

- Read data in from file

Worker:

- Missing data
- Dimm reduct
- Splitting data

[2016-10-30 18:54] asclines commented on #104
Proposed hyper-parameter configuration: (From 10/30 meeting)

Hyper parameters should be handled on a model per model bases.
Default values and ranges per parameter.
This only needs to be done when the user wants to override the model default options.
Will be done in configuration xml file

[2016-10-30 20:47] asclines commented on #81
I am closing this issue for two reasons:

1. The Documentation section of this issue has been migrated to [this wiki page](https://github.com/ASAAR/SE2-KaggleComp/wiki/Documentation-Guidelines)

2. The Organization section of this issue is now being covered in issues #98, #88 directly and in other issues indirectly.

[2016-10-30 20:47] #81 closed

[2016-10-30 20:48] asclines commented on #49
@ASAAR , is this going to be handled by the configuration options that @ZakeryFyke has created currently and in the future be handled by the configuration manager I will be creating?

[2016-10-30 22:29] ASAAR commented on #49
@asclines Yeah, it will be, and the separator is not even necessary anymore. Should I close it?

[2016-10-30 22:56] ASAAR commented on #103
@asclines Continuing from prior conversation. Sorry about not doing this sooner.

### Files
I like the idea but I could see that getting overly complicated. I suggest we either support single file or directory style training/testing data. Maybe even within their own subgroups like so,

- Files
  - Train
     - File or Folder
  - Test

### Prediction
Could also call it "Objective", but I like it. W

[2016-10-30 23:12] asclines commented on #103
@ASAAR
# Files
So we do **not** want a way to determine testing/training split? Or is that something we want the works to handle per model? Also, I may be mixing up terminology here, in this scenario do we define testing and training differently than when we are evaluating models?

# Prediction
Objective makes more sense actually.

# Models
yes thats more or less what I was looking for. Could you

[2016-10-31 01:18] ASAAR commented on #103
@asclines

### Files
Right, yeah I forgot to include that. I'd make that a bullet underneath "Train" since it doesn't apply to test. In this case, training is labeled data, testing is unlabeled.

### Models
I was thinking we could try and guarantee a unique human friendly ID, which would be the name. The function name would be what is used to "find" the algorithm in the framework.

Can you explain

[2016-10-31 12:03] asclines commented on #103
@ASAAR
# Files
Okay, that makes me think we should make a terminology section of the wiki that has project-wide definitions for terms used as well as the scoped definitions of those same terms. Thoughts?

# Models
Is this human friendly ID similar to the "label" idea that [MLTA-record](https://github.com/ASAAR/SE2-KaggleComp/tree/master/modules/MLTA/mlta-record#usage) uses?

As for my second point

[2016-11-01 16:14] #106 closed

[2016-11-01 16:17] ZakeryFyke opened #108 "Handling Strings in Data Sets"
Many of the models cannot handle Strings in the datasets they are given, so we need a way to handle them when they occur, either by removing them or converting them to numeric data.

For features which only have a few different strings, such as Gender, these can be converted from Strings to numeric data like 1 and 0. However, it becomes more challenging for features which have many different strin

[2016-11-02 16:28] ASAAR commented on #104
@asclines or anyone else, do we want to create classes that package parts of the ticket into input and output? Because otherwise the creation of the ticket gets ugly. The None values are temps, since we don't have a good way of doing it currently. However, you see the problem.

`class Ticket(object):

    def __init__(self, algorithm, train, test, label):
        self.ml_algorithm = algorithm

[2016-11-02 17:26] asclines commented on #104
@ASAAR Could you clarify what you mean by packaging into input/output?

[2016-11-02 17:39] asclines opened #110 "Configuration: Create configuration class"
Referencing #103 for design.

This file, `configuration.py' will be a Python script that holds the class `Configuration` for holding all the data taken in by the XML file in #103.

The data from the XML file should be loaded into a dictionary. Not only does this allow for quicker access of information but it also separates the manipulation of configuration data from the configuration file.  The lo

[2016-11-02 17:44] asclines opened #111 "Configuration: Be able to load XML files into dictionary"
Referencing #103 for design.

When given an XML file, we should be able to parse it into a dictionary for easy access by the program.
Should also be able to check the XML file to make sure all required information is there.

# XML Parser
## ElementTree
Odds are, [ElementTree](https://docs.python.org/2.7/library/xml.etree.elementtree.html) is the best bet, being built into python and whatnot. Howev

[2016-11-02 19:49] #108 closed

[2016-11-02 19:50] ASAAR commented on #104
For example...

### Input
- ml_algorithm (from Hub)
- training (from config)
- testing (from config)
- target (from config)
- hyperparameters (retrieved from config)
- past_results (from MLTA)
- max_iterations (from config)

### Output
- validation_results
- test_results
- parameters_used

That way, it provides a clear separation and we could do something like this.

### Ticket
- ticket_input
- ti

[2016-11-02 20:31] ASAAR opened #112 "Worker: Initial Buildout"
Our goal is to have a class (a Worker) which is launched and then requests a ticket as soon as it is available and gives the ticket back to the hub as soon as the ticket is finished.

The initial build will include,
- initialization
- usage of gym, data controller, and model controller
- running of model and printing of result

[2016-11-02 20:33] ASAAR opened #113 "Gym: Initial Buildout"
The gym will take the data controller and model controller and use them to train and apply the model.

This issue includes,
- initialization
- training and validating the model

[2016-11-02 20:37] ASAAR opened #114 "Model Filtering and Selection"
The more fully developed framework needed a way to grab a model from any folder substructure, so I took the old code in ml_runners and upgraded it, allowing it to now return a function that can be called later on from within a worker.

Included,
- model filtering and selection script
- model properties
- model sub-folders to aid with filtering

[2016-11-02 20:43] ASAAR opened #115 "Hub: Initial Build"
The hub will manage configuration, getting models, creating tickets, and deploying workers. Workers will then call back to the hub and request a ticket.

Included in this task is,
- Initialization
- Getting models
- Creating tickets
- Launching a worker
- Providing a ticket to a worker

[2016-11-02 20:44] asclines commented on #104
@ASAAR Would it make more sense to divide the variables under ticket by whether or not they are modifiable by the ticket? (Not 100% sure if I just reworded what you said or not.

[2016-11-02 20:45] asclines commented on #114
Is this an issue? Your saying this like it's in past test. This reads like a PR message not an issue message.

[2016-11-02 20:45] ASAAR commented on #104
Interesting.....modifiable by the ticket or the worker?

[2016-11-02 20:48] ASAAR commented on #114
Eh, it's like saying that what will be included in the changes I made will be X Y and Z. But yeah, I forgot to make the issue before working on the task.

[2016-11-02 21:21] asclines commented on #104
Are we gonna let the ticket be more than just a class that holds data?

[2016-11-02 21:23] ASAAR commented on #104
I didn't think so, which is why I asked. Alright, yeah, I think that makes sense. It should end up as being the exact same separation though.

[2016-11-03 13:34] asclines commented on #110
One question that needs to be answered: Should this follow an OOP design where everything is broken into classes based on the layer they are at in the XML tree? Or should we look this more with a key-value pair mentality and use dictionaries to store the data?

When making this decision we need to consider:
- How often the data will be manipulated
- Who will be doing the manipulating
- Will we alw

[2016-11-03 13:36] asclines commented on #110
Most of the data that is loaded from the configuration XML file will **not** be modified by the program. Maybe we could do a hybrid of objects and dictionaries depending on whether the data should be modifiable?

[2016-11-03 17:27] ASAAR commented on #110
Yeah I would say that the program should never modify any of this stuff outside of the configuration management tool.

In terms of the data, probably some combination of the two. In some situations we'll need a dictionary to make finding the data efficient, in others that won't be an issue

[2016-11-03 19:03] ZakeryFyke opened #117 "Strategy Design Pattern Class for Data Filling"
We have a number of options when it comes to data filling that all appear within their own functions. Each is useful in certain situations, but not all. We'd like a Class that can make the decision on which function to run based on the composition of the dataframe it's working with. This class would use the Strategy Design Pattern, and would likely get this composition from functions running withi

[2016-11-03 21:29] ZakeryFyke opened #118 "Data Filler Refactoring"
I currently have a number of the data fillers remove a column or row if they contain fewer than some n number of observations. Looking at how I want to do the strategy class, I think this is a poor decision. It would be better to take some ratio of missing data to nonmissing data, e.g. remove any columns which are missing more than 50% of their values. This should be more flexible in the long run

[2016-11-04 11:56] asclines commented on #117
So what would we want this to look like from the outside looking in? We pass in the data frame,variable, and value and let it figure out the rest?

[2016-11-04 13:51] ZakeryFyke commented on #117
Good question. As I understand it right now, we will give the class a dataframe to work with. It will call data_insight and run a function to get the composition of the dataframe (For the fillers, the only important parts are the missing data ratio and the dtypes of each column). Then, based on the composition of the dataframe, the class will decide which datafillers should be run.

For example, i

[2016-11-04 21:25] #86 closed

[2016-11-04 21:25] #87 closed

[2016-11-04 21:25] #112 closed

[2016-11-04 21:25] #113 closed

[2016-11-04 21:25] #114 closed

[2016-11-04 21:25] #115 closed

[2016-11-05 17:23] #118 closed

[2016-11-05 18:06] asclines commented on #110
As of current, the configuration object is a singleton. I believe this meets the requirements to be a singleton as we at any point only want one instance of a configuration object per program run.

[2016-11-05 18:18] asclines opened #120 "Test folder is getting cluttered"
If anyone visits `/tests/` they might notice that the directory is getting really cluttered and seemingly unorganized.

Something needs to be done. First off I have a question though, why do we separate all the tests out into their own directory? @ASAAR , I believe you are the one who created that structure?

If there isn't any good reason to continue keeping the tests separated into their own par

[2016-11-05 18:36] ZakeryFyke commented on #120
Would we want to move each test into the same directory of the modules they are testing, or would we perhaps want to put them into their own directory within that directory?
For a folder like data_kit, I feel having all the tests in that same directory would be a lot of clutter, but putting a test directory in data_kit holding all the tests would be more manageable

[2016-11-05 18:39] asclines commented on #120
@ZakeryFyke look at the MLTA module for what I'm thinking of.

[2016-11-05 18:40] RyanMcBerg commented on #120
Im all for having the test folder in the same directory as what is being tested.  It would make  pathing easier for me at least, and would likely declutter it a little

[2016-11-05 18:40] ZakeryFyke commented on #120
@asclines I like that structure.

[2016-11-05 18:49] ASAAR commented on #120
I'm good with this, we should probably add a section to documentation about testing standards to keep it somewhat standard

[2016-11-05 19:16] asclines commented on #111
This will now no longer be its only file. This should just be a collection of methods inside the configuration object created in #110 .

[2016-11-05 19:29] asclines opened #121 "Configuration: Saving data"
See #103 for design discussion.

Parts of the configuration data will be manipulated by the program and will then need to be saved back to an XML file.

The way the program handles configuration data now is described in #110.

It is important to note that while _technically_ any part of the configuration data can be modified by the program, there are only some parts of the configuration data that

[2016-11-05 19:52] asclines commented on #103
Also, does anyone have any preferences on elements tags vs element attributes? I'm starting to think some things might be better off as tags. Here is an example using element attributes and also reflects changes discussed on this issue so far:

[code]

[2016-11-05 20:18] ASAAR commented on #103
@asclines sorry, forgot to respond to the one that's two up.

### Files
That sounds like a good idea.

### Models
Yeah, I agree that the original one assumed numeric. Although my idea was that if it was not recognized as a numeric, then the range would just be all values that the parameter _could_ be.

### Update
I like tags, it makes it a lot cleaner! One comment though, do we want param to have

[2016-11-05 20:33] asclines commented on #103
@ASAAR yes the param tag should have a name attribute thanks for pointing that out.

As for the models, how would you expect them to be written in XML?

[2016-11-05 20:38] ASAAR commented on #103
I would do something like this. Does that help? I don't know how annoying it is to have a list for the valueSet....

numeric="false"
defaultValue="default"
valueSet="default, optionOne, option_two, stuff"

[2016-11-05 20:40] asclines commented on #103
The `valueSet` way as @ASAAR would be adequate for a list of small numbers. But remember, the reasoning for XML at all is for readability from the user's perspective. With that in mind, if the valueSet was rather large, it might be harder on the user than the list of elements as I have in the comment above.

[2016-11-05 21:12] ASAAR commented on #103
Right, but in the case I was talking about, that wouldn't be for numbers. It would be for strings. Numbers should be covered with ranges and deltas.

[2016-11-05 22:22] asclines commented on #103
@ASAAR Sorry I mis-typed. I meant a list of small size.

[2016-11-06 13:04] ASAAR commented on #103
Right, but we're unlikely to have a `valueSet` of a large size with strings. We also don't need it at all with numerics.

[2016-11-06 19:07] asclines opened #122 "Configuration: Providing test/train files"
Configuration should have two methods:
`get_test_files()` and `get_train_files()`
These two methods should return a list of files. So if the passed in data is a folder, the method should return a list of all the files in that folder

[2016-11-06 19:12] ASAAR commented on #103
We also need to include a "unifying Id" for the different datasets. For example with the titanic dataset, you are given a test dataset with passengerId and you must predict if they survived or not. In order to provide results, you need that Id ahead of time.

[2016-11-06 19:13] asclines commented on #103
So like IDs for time-series stuff?

[2016-11-06 21:02] #103 closed

[2016-11-08 15:57] #49 closed

[2016-11-08 15:57] ASAAR commented on #49
This issue is no longer relevant, now owned by Alex's work.

[2016-11-08 15:57] #85 closed

[2016-11-08 15:58] #98 closed

[2016-11-08 16:02] #45 closed

[2016-11-08 17:26] ZakeryFyke commented on #57
This is still chilling in Review/QA after like 3 weeks. What are our plans for this issue?

[2016-11-08 17:31] #117 closed

[2016-11-08 17:50] ZakeryFyke commented on #120
If we're still wanting to move all the tests into their own sub directories, I could handle this later tonight unless @asclines or @ASAAR have a particular way they want something done. I was just going to follow the same structure as found in the MLTA module.

[2016-11-08 17:57] ASAAR commented on #120
@ZakeryFyke go ahead! Thank you!

[2016-11-08 18:44] RyanMcBerg commented on #122
Will these two functions be to populate the ticket fields with filepaths, or will they be to actually bring in the data?

[2016-11-08 18:58] asclines commented on #122
These methods are intended for the hub to access.  As for how the ticket gets this data will be left to the hub to decide.  @assar thoughts?

[2016-11-08 19:18] ASAAR commented on #122
Yeah these are just for hub access, the hub will then load the data and pass that data along with each ticket.

[2016-11-08 21:43] asclines commented on #57
Is it supposed to be in review/qa?  Is it even in progress?

[2016-11-08 21:45] telelu03 commented on #57
My fault. In the backlog I split it into a couple different issues, I forgot to reflect that here. Its still in progress.

[2016-11-09 15:51] ZakeryFyke commented on #57
@telelu03 I am going to close this issue then; will you create your split issues for your image processing/classification when you have time?

[2016-11-09 16:20] #57 closed

[2016-11-09 17:04] telelu03 commented on #57
Yeah I will create separate issues for everything.

[2016-11-09 20:09] #120 closed

[2016-11-11 21:44] ZakeryFyke opened #127 "Pre processing of images"
Before classification algorithms can be applied to images, they must be processed.

[2016-11-11 21:46] ZakeryFyke opened #128 "Classification of Image Dataset"
After images have been pre-processed, we can run classification modules on them.

[2016-11-12 23:15] #104 closed

[2016-11-15 02:27] #110 closed

[2016-11-15 02:27] #111 closed

[2016-11-15 02:27] #121 closed

[2016-11-15 15:42] ASAAR commented on #122
moving to next iter

[2016-11-15 15:45] asclines commented on #122
This should have been closed in #129 sorry.

[2016-11-15 15:45] #122 closed

[2016-11-15 17:06] ZakeryFyke opened #133 "Fixing code climate nagging"
After moving the tests around, Code Climate has raised a number of complaints about them. I'll remedy the ones I can.

[2016-11-15 17:11] RyanMcBerg commented on #133
Is there anything that can actually be done about these issues?

[2016-11-15 17:12] ZakeryFyke commented on #133
Dunno, gonna find out

[2016-11-15 23:27] ZakeryFyke commented on #133
So it _can_ be done, and I'm making attempts to do so now, but I'm a bit worried that it reduces the overall readability of the actual code. I'll get y'all's feedback on it, though, to be sure.

[2016-11-15 23:47] asclines commented on #133
Well get the code on a PR and we will be happy to give feedback

[2016-11-21 18:30] asclines opened #136 "Let's talk about merging and reviewing"
Okay guys, yes the semester is coming to a close, but that is no excuse for laziness in our work. While I will only be talking about one commit from one pull-request, there may be others out there. Also, this should merely serve as an example for future problems so we can prevent them.

It seems that as this semester has gone on, and the end is approaching, we may be losing our focus a little bit,

[2016-11-21 19:48] ASAAR commented on #136
Yeah this is a really good point and I definitely should have noticed that file sneaking in. I think for me two takeaways are,
1. Never approve something until commits are finished.
2. If something is approved and can be merged, just merge it rather than adding more stuff.

[2016-11-22 00:50] ZakeryFyke commented on #136
Yeah, my mistake. I've checked the file and it was empty, and I'm fairly certain this was either a superficial merge error or something I fixed in a later commit. But agreed, I'll make sure to watch out for things like this in the future.

[2016-11-22 00:58] ZakeryFyke commented on #4
Is this still something we're working on?

[2016-11-22 00:59] #93 closed

[2016-11-22 01:05] asclines commented on #136
I think we all learned.  This was just an example,  I'm sure there are others we've missed as well.

[2016-11-22 01:05] #136 closed

[2016-11-22 03:55] ASAAR commented on #4
@ZakeryFyke We should....I just don't know when it'll happen

[2016-11-22 03:58] ZakeryFyke commented on #4
Alright, I've got it tossed into the sprint backlog. We can move it to Icebox if need be.

[2016-11-22 20:15] ASAAR opened #139 "Using Machine Learning For Data Filling"
I'm building a class that will use machine learning (I'm looking at a variety of algorithms), to go through and fill in missing data. This is the approximate process,

Steps:
1. Create a new variable that is the merged version of the training and testing data
2. Separate all of the rows with missing data in them and place them in a list.
3. In the missing data list, a complete column is a predicto

[2016-11-22 20:51] asclines commented on #139
Where will this fit in the pipeline?

[2016-11-22 22:14] ASAAR commented on #139
It'll be part of the filler strategy and probably more useful in situations where the ratio of missing data is low

[2016-11-24 16:12] ASAAR opened #140 "get_missing_ratios fails with multiple missing columns"
I get,
`"cannot convert the series to <type 'float'>"`

When there are multiple columns in the dataset that have missing columns.

Happy Thanksgiving :)

[2016-11-24 21:50] ZakeryFyke commented on #140
@ASAAR it fails when the dataset has multiple empty columns, or when the dataset has multiple columns containing missing values?

[2016-11-24 22:56] ASAAR commented on #140
@ZakeryFyke when a dataset has multiple columns containing empty values.

Steps for replication,
1. Merge the training and test data for titanic: `data = pandas.concat([train, test])`
2. Select data that doesn't have missing values: `data_splitting.remove_non_numeric_columns(data)`

= FUN

[2016-11-24 23:25] ZakeryFyke commented on #140
@ASAAR I've used those steps, and also attempted by adding empty columns and emptying out values from existing columns, but I'm not able to replicate this issue.
Also, does step 2 in your replication select data with no missing values? If so, that's a very interesting naming scheme.

[2016-11-24 23:32] ASAAR commented on #140
@ZakeryFyke my bad, fixed the instructions

[2016-11-25 19:11] ASAAR commented on #140
@ZakeryFyke Issue fixed, it happened to be caused my something I did. Essentially if I had two datasets.

A with indices 0, 1, 2, 3, 4, 5 and B with 0, 1, 2. If I concat them, then it becomes 0, 1, 2, 3, 4, 5, 0, 1, 2 **unless** I use "ignore_index=True" in the concat command. Not doing that messed up your function.

[2016-11-25 19:14] #140 closed

[2016-11-30 17:07] telelu03 opened #141 "Image Recognition - Format of image CSV File"
Okay working on the module to translate my array of numpyarrays into a CSV format that you all can work with

This is what I was thinking of doing:
- Each row represents the info for one image, total number of rows are the total number of images that we're working with
- Each column contains the info for a location, and the pixel info for that location
- For example, the first 3 columns would cont

[2016-11-30 17:11] asclines commented on #141
Overall looks good, I like the idea.
Question: What do you mean by handling headers?  Are you asking whether or not to put them in the csv?

[2016-11-30 17:12] telelu03 commented on #141
Yes, whether or not we should include them in the CSV or not. I like them just cause they help me understand whats going on, but I don't know if the modules you all have created would want headers

[2016-11-30 17:20] asclines commented on #141
Well following this path I would think that either way doesn't make a _huge_ difference. If you leave the headers it, it would me more human readable as you imply, we would just have to make sure that any code that uses it accounts for the headers.

But what if we did things a little differently. Loading the CSV file would be the same everytime, so instead of doing that what if we have a file read

[2016-11-30 17:21] ASAAR commented on #141
This might work for smaller datasets, however if you have 3GB of images or more, having it in a CSV will not work. That's why many image related problems use file paths to organize training/testing and the labeling of what type each image is. Although I think it's worth supporting both, I want to make sure that the issue is considered.

[2016-11-30 17:22] asclines commented on #141
@ASAAR well not _all_ the images have to be in the CSV file at a time.

[2016-11-30 17:28] ASAAR commented on #141
Yeah that could be a good middle ground. But the inefficiency of CSVs might be worth investigating. How much extra space does it cost to store in CSV?

[2016-11-30 17:30] asclines commented on #141
What other options are you considering? Seeing as the CSVs will be stored on storage, we don't have to worry about memory use. And when the CSV is loaded into memory, I'm willing to bet that it will always take up less space than the images that were loaded into memory earlier to create the CSV.

[2016-11-30 17:35] telelu03 commented on #141
@ASAAR yeah that's a good point too. If all else fails, I could make multiple CSVs, but size of both the image and the number of images is the biggest issue. But everything will be stored in memory

@asclines I'm not too familiar with the Tensor format...how does it work?

[2016-11-30 17:38] asclines commented on #141
The Torch library has pretty good implementation and explanation of using tensors with image processing.

[They explain it pretty well](https://github.com/torch/torch7/blob/master/doc/tensor.md#tensor)

[Here](https://github.com/torch/image/blob/master/doc/saveload.md) is some good documentation on using a tensor.

[2016-11-30 17:46] telelu03 commented on #141
lol I keep on mistaking memory for disk. You're right, the CSVs are saved to disk, not memory. My fault lol

[2016-12-04 23:38] ZakeryFyke opened #145 "Linguistic Alignment of Pronunciation of Python Libraries"
@telelu03

[2016-12-04 23:47] asclines commented on #145
Why scope this to _just_ Python libraries?

[2016-12-05 00:11] ZakeryFyke commented on #4
No longer relevant

[2016-12-05 00:11] #4 closed

[2016-12-05 00:14] #84 closed

[2016-12-06 15:42] asclines opened #146 "Configuration: Folder support"
Currently, the configuration has the ability to handle multi-files, as long as the file names are passed in. The configuration tool should be able to be passed in a folder and extract all file names from it.

[2016-12-07 20:09] #145 closed

[2016-12-08 14:38] asclines opened #147 "Bug in Project Configuration"
After commit #9a939967e8e3b508fe39b711e7dff08280119e8f was created, **all** tests for the project configuration tool broke.
This is the error:
[code]
Tests need to be fixed.

[2016-12-08 16:12] ZakeryFyke commented on #147
-groan-

[2016-12-09 01:20] asclines commented on #147
Closed in #148

[2016-12-09 01:20] #147 closed

[2016-12-09 01:26] asclines opened #149 "Data fillers tests failing"
`SE2-KaggleComp/modules/DMZ/data_kit/test/test_data_fillers.py ` fails  with error message `ImportError: No module named validation_package`
Just a quick glance tells me that the imports were not updated after files were moved.
These tests probably need to be checked.

[2016-12-09 01:33] asclines opened #150 "Dataset Insight Testing failing multiple tests."
`SE2-KaggleComp/modules/DMZ/data_kit/test/test_dataset_insight.py  ` fails on several tests..

1. `ERROR: test_get_delim_comma (modules.DMZ.data_kit.test.test_dataset_insight.TestDatasetInsight)`
ValueError: Expected 0 fields in line 4, saw 1

- `ERROR: test_get_delim_semicolon    (modules.DMZ.data_kit.test.test_dataset_insight.TestDatasetInsight)`
ValueError: Expected 0 fields in line 4, saw 1

-

[2016-12-09 01:40] asclines opened #151 "Merge test fails"
`SE2-KaggleComp/modules/toolbox/test/test_read_rdata.py ` fails with error `IOError: File /mnt/f/Codebase/SE2-KaggleComp/datasets/testfile.csv does not exist`

Also fails: `FAIL: test_merge (modules.toolbox.test.test_merge.TestMerge)`
 with this error:
`AssertionError: False != True`

[2016-12-09 03:56] asclines commented on #150
Update: Appears to be an error with `pandas` being the wrong version due to the default `pip` install being out of date. [Here](https://pip.pypa.io/en/stable/installing/) are the install docs.

[2016-12-09 03:56] #150 closed

[2016-12-09 13:04] #149 closed

[2016-12-10 03:19] #68 closed

[2016-12-10 03:19] #70 closed

[2016-12-10 03:19] #71 closed

[2016-12-10 03:27] #146 closed

[2016-12-10 03:32] #139 closed

[2016-12-10 13:23] #151 closed

[2016-12-10 13:24] #141 closed

[2016-12-10 13:25] #133 closed

[2016-12-11 22:44] asclines commented on #69
Forgot to close this with #152

[2016-12-11 22:44] #69 closed

[2016-12-12 00:19] ZakeryFyke commented on #94
Issue has been ice boxed for now due to issues communicating between Python and R. More research into the subject will be necessary.

[2016-12-12 23:21] #127 closed

[2016-12-12 23:21] #128 closed

[2016-12-19 23:46] asclines opened #158 "Remove old logger"
Now that we have the MLTA module, we no longer need the old git logger written in bash.

[2016-12-20 02:08] isaac-gs opened #159 "Remove toolbox"
Because we don't like Ryan's code (or mine).

Reasons,
- The framework doesn't use any of that code anymore.
- We are phasing out R as a language, there's too many issues to deal with at this time.

[2016-12-20 03:33] ZakeryFyke opened #160 "Relocate component analyzers"
Reasons:

- Analyzers are not being utilized for reduction, and thus do not belong in the reducers directory.
- Analyzers may be used for something in the future, and thus do not yet require removal.

[2016-12-20 22:54] asclines opened #161 "Continuous Integration"
It's time we looked into bring a continuous integration tool into our pipeline. [GitHub](https://github.com/integrations/feature/continuous-integration) provides some good integrations with C.I. tools.
Let's discuss.

[2016-12-20 22:58] ZakeryFyke commented on #161
Do you have any experience with the CI tools that GitHub provides? I've not messed with them before.

[2016-12-20 23:14] asclines commented on #161
I have mild experience with Travis CI and it comes highly recommended by several people I know. It seems to be general and thorough enough to cover all we need. Also their [guides](https://docs.travis-ci.com/user/for-beginners) are pretty easy to follow.

[2016-12-21 18:52] isaac-gs commented on #161
Who wants to own this? I'm happy to do it

[2016-12-21 18:59] asclines commented on #161
Is this a 1 person task? Seeing as we all need to write out tests into this?

[2016-12-22 02:01] isaac-gs commented on #161
I see what you mean. I was thinking someone could manage figuring it out and dealing with any issues

[2016-12-22 02:11] asclines commented on #161
@ASAAR Fair enough that makes sense. Yeah you can tackle that problem. I'm assuming we are all good with using Travis CI?

[2016-12-22 02:12] ZakeryFyke commented on #161
@asclines I have no objections.

[2016-12-22 17:15] asclines opened #162 "Remove R code"
Essentially all the code written in R is no longer in use, nor expected to be.

[2016-12-22 17:24] ghost commented on #94
This is no longer an issue.

[2016-12-22 17:24] #94 closed

[2016-12-22 17:25] asclines commented on #56
Seeing as R is no more, this issue is no more.

[2016-12-22 17:25] #56 closed

[2016-12-22 20:14] asclines commented on #46
@CodeSpaceHQ/clubmengel is this going to be worked on?

[2016-12-22 20:15] asclines commented on #2
@CodeSpaceHQ/clubmengel is this going to be worked on?

[2016-12-22 20:16] ZakeryFyke commented on #46
I haven't had as much time as I'd like to look into this, but yes, I'd like to see it done.

[2016-12-22 20:16] asclines opened #163 "Test pathing"
Various tests use absolute pathing that force that tests to have to be run from a specific spot.
Example:
[code]
A better solution needs to be figured out.

[2016-12-23 17:39] #158 closed, assigned to asclines

[2016-12-23 17:39] #159 closed, assigned to isaac-gs

[2016-12-23 17:39] #160 closed, assigned to ZakeryFyke

[2016-12-23 17:39] #162 closed, assigned to nobody

[2016-12-23 17:46] ZakeryFyke commented on #163
Any ideas on some chemo for this cancer yet?

[2016-12-23 19:46] asclines opened #164 "A single install script"
This project requires several things to be installed and be at the right version, and even more for developers. A single install script should exist to handle all of this.

[2016-12-23 20:20] asclines opened #165 "Checking test coverage"
In order to keep this repo going well, another thing we should look into is test coverage.
Now [CodeClimate](https://docs.codeclimate.com/docs/setting-up-test-coverage) does offer code coverage testing, but it might not be right for us.
My main concern _against_ using CodeClimate for test coverage is that it is not multi-language friendly.

But it _is_ something we have already integrated with out

[2017-01-03 00:00] asclines commented on #165
Here is another option I've seen in other repos: https://coveralls.io/

[2017-01-03 00:40] isaac-gs commented on #165
Yeah, I like the idea of using coveralls. Mainly because if we want to, we can support multiple languages.

https://github.com/lemurheavy/coveralls-public/issues/373

Also, it integrates with Travis CI

[2017-01-05 20:00] asclines opened #166 "Let's bring conformity to this repo"
[Issue and Pull-Request Templates](https://github.com/blog/2111-issue-and-pull-request-templates)

I'm gonna start on this and run it by y'all in a PR

[2017-01-07 01:20] isaac-gs commented on #161
You'll need this when setting up Travis-CI on a machine. But this is mostly for posterity.

https://github.com/travis-ci/travis.rb/issues/391

[2017-01-07 03:24] asclines commented on #161
lol ive been dealing with gem errors all day in another project. [https://rvm.io/](https://rvm.io/) is our friend here.

[2017-01-09 05:15] isaac-gs commented on #164
If this isn't already functional, it can build off of what we had to do for Travis. Note that Travis does not build or test any of the Javascript or (soon to be) Go code.

[2017-01-09 16:40] asclines commented on #164
We need not worry about it testing the Javascript or Go code, they will be separated out into other repos eventually and will be tested there.

[2017-01-09 16:40] asclines commented on #164
Also, @ASAAR could you expand on what you think we would be building off of?

[2017-01-09 16:52] isaac-gs commented on #164
Oh, we'd be building off of the current setup for Travis and just adding those sections of the project. But, as you pointed out, we will probably be moving them out.

[2017-01-09 19:47] #166 closed, assigned to asclines

[2017-01-09 20:00] #161 closed, assigned to isaac-gs, asclines, ZakeryFyke

[2017-01-09 23:57] isaac-gs commented on #165
@RyanMcBerg @ZakeryFyke Either of you have a preference?

[2017-01-10 00:42] ZakeryFyke commented on #165
I'm pro anything that's pro multiple languages.

[2017-01-10 19:21] #165 closed, assigned to isaac-gs, asclines, ZakeryFyke

[2017-01-10 19:26] #163 closed, assigned to isaac-gs, asclines, ZakeryFyke